<h1>Articles Index</h1>

<h2>Articles</h2>
<div>
  <a href="/articles/the-idea">The Idea</a>
</div>
<div>
  <a href="/articles/the-hypotheses">The Hypotheses</a>
</div>
<div>
  <a href="/articles/the-experiment">The Experiment</a>
</div>
<div>
  <a href="/articles/the-practice-routine">The Practice Routine</a>
</div>
<div>
  <a href="/articles/other-isomorphic-keyboards">Other Isomorphic Keyboards</a>
</div>

<h2>Reflections</h2>