---
layout: layout
---

<div class="container section section--top">
  <h1 class="section__header">Articles</h1>
  <div class="row"> 
    <div class="col col-lg-8">
      <ul>
        <li class="article">
          <a href="/articles/the-idea">
            <h2 class="article__title">The Idea</h2>
            <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
          </a>
        </li>
        <li class="article">
          <a href="/articles/the-hypotheses">
            <h2 class="article__title">The Hypotheses</h2>
            <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
          </a>
        </li>
        <li class="article">
          <a href="/articles/the-experiment">
            <h2 class="article__title">The Experiment</h2>
            <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
          </a>
        </li>
        <li class="article">
          <a href="/articles/the-practice-routine">
            <h2 class="article__title">The Practice Routine</h2>
            <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
        </li>
        <li class="article">
          <a href="/articles/other-isomorphic-keyboards">
            <h2 class="article__title">Other Isomorphic Keyboards</h2>
            <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h1 class="section__header">Reflections</h1>
    <div class="row">
      <div class="col col-lg-8">
        <ul>
          <li class="article">
            <a href="/reflections/the-initial-assessment/">
              <h2 class="article__title">Assessment Reflection</h2>
              <div class="">&nbsp;&nbsp;&nbsp;&nbsp;There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major.</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
