<% content_for :metatags do %>
  <%= partial "partials/metatags", locals: {
    title: "The Hypotheses",
    description: "Why would the Linear Isomorphic Keyboard perform better than the traditional keyboard? I have a handful of theories about how the Linear Isomorphic Keyboard will compare to the Traditional Keyboard, and these hypotheses are based on yet another hypothesis: the isomorphic advantage. With words, graphs, and charts, I attempt to explain my predictions for the experiment.",
  } %>
<% end %>

<%= partial "partials/chartist-js" %>
<script src="https://unpkg.com/tippy.js@2/dist/tippy.all.min.js"></script>

<% partial "/partials/article-layout" do %>

# The Hypotheses

I predict that the Linear Isomorphic Keyboard (LIK) will outperform the traditional keyboard (TK). More specifically, I think that I will improve faster on the LIK than on the TK and I don’t foresee the LIK having significant technical limitations.

These hypotheses stem from another hypothesis: that isomorphic keyboards are easier to play than non-isomorphic keyboards. 

## The advantage of isomorphism

When applied to the keyboard, “Isomorphism applied to musical instruments means that every distinct musical performance is executed in the same way, regardless of key or location.”[^1][^2] To put this another way, each sound can be performed by one or more shapes,[^3] but those shapes always play the same sound.

The isomorphic advantage is rather amorphous. To understand how this advantage manifests, it helps to think of the keyboard as a function. It takes two variables—shape and location (the starting note)—and returns a sound. 

**f(shape, location) => sound**

Isomorphic keyboards remove the variable of location. Shapes make the same sound regardless of the starting note.

**f(shape) => sound**

I have identified three different musical skills: fundamentals, sight reading, and playing by ear. I am going to imagine the keyboard as a function as I predict the how the isomorphic advantage applies to each domain of musical prowess.

## Fundamentals

The removal of location from the equation benefits isomorphic keyboards in a few ways, the most obvious of which is transposition.

### Ease of transposition

Transposition is the act of taking a musical pattern, changing the starting note, then recalculating the shape. The isomorphic advantage shines under this light. Anything learned on the LIK can be applied to any starting note, there is no recalculation necessary.

This has a clear impact on the LIK’s performance of fundamentals. Anything that has to be learned in every key becomes far more simple. Instead of learning the major scale in all twelve keys, you learn the major scale once.

At first glance, it appears that the LIK has 1/12th the amount of shapes to learn compared to TK. Most complex musical patterns (such as scales) have twelve different shapes on the TK and one on the LIK. But, this is not quite the case. Although G major and C major have unique shapes on the TK, they share 6/7 of their notes. To find the true difference in complexity we can turn towards to the building blocks of musical patterns: intervals.

Below is a graph of all twelve intervals within an octave and all the shapes that perform those intervals.

<% end %>

<%= partial "partials/mobile-interval-shapes-section" %>
<%= partial "partials/interval-shapes-section" %>


<% partial "/partials/article-layout" do %>

The graphs above illustrate the complexities of the TK that stem from the many-to-many relationship of shapes and sounds. On the TK, each interval can be performed by an average of 3.58 different shapes (43 relationships between sounds and shapes / 12 sounds). Each interval on the TK has a median of four different ways to perform it, only one of which is correct depending on the starting note. 

The LIK only has one shape per sound. Thus it only has 28% (12/43) the number of relationships between sounds and shapes as the TK. I predict that when practicing patterns in every key or patterns that are chromatic, the LIK will improve at 3.58 times the speed of the TK.

### When the shape is known

Though the graphs above show the complexity of the relationship between sounds and shapes, perhaps what is more noticeable is the number of shapes for each keyboard. The LIK has 12 shapes to play all 12 intervals in an octave, while the TK has 28\. This means that there are 2.33 (7/3) times the amount of shapes to learn on the TK as there are on the LIK.

I stated earlier that the LIK was 3.58 times less complex than the TK, but the LIK has 2.33 times fewer shapes than the TK. Which is the true advantage? What rate of improvement should I expect from the LIK?

These differences of complexity and quantity will impact the LIK in different ways. The function of the keyboard doesn't measure the difficulty of playing the keyboard when all sides of the equation are already known. When practicing familiar content the difficulty isn't determining which notes to play. The challenge comes in playing the notes correctly.

I am going to posit yet another hypothesis, albeit one that I think is more widely accepted. We improve by learning patterns, and once learned, anything that has these patterns becomes easier. I would hypothesize that as we practice the keyboard, we learn fingerings. The more we learn, the more likely a new song or pattern will have these fingerings.

As there are 2.33 times more shapes on the TK than the LIK, I predict that the TK will take 2.33 times as long to learn as the LIK. 

<% end %>

<div class="improvement-chart ct-chart ct-chart--full breakout">
</div>

<% partial "/partials/article-layout" do %>

The chart above illustrates the speed of improvement between the keyboards. In this radically simplified simulation, the LIK has 300 shapes and the TK has 700 shapes to learn. Each practice session practices 15 randomly selected shapes. Once practiced, it becomes a known shape. This graph shows how many practice sessions it takes to learn 90% of the shapes on the LIK. It also shows the percent of known content for each practice session along the way.

The advantage of having less content could take a while to actualize. The keyboards have similar percentages of known content in the early practice sessions. Only after a considerable amount of practice does the LIK start to consistently have a higher percent known in the practice sessions. If this isn't shown in the chart above then refresh the page, each page load generates new data.

It will not be easier to play a given passage on the LIK than on the TK. Completely new content will be roughly equally difficult on both keyboards. But because there are fewer shapes on the LIK, it will be more likely that new content will be familiar, and thus easier.

I predict that chromatic exercises will improve at 3.58 times the speed of the TK and all other fundamentals will improve at 2.33 times the rate of the TK.

## Playing by Ear

When playing by ear, the pianist is reverse engineering the function of the piano. The pianist hears the sound and has to determine the shape (and sometimes the starting note too). 

On the LIK there is only one possible shape for every sound. The TK has a median of four shapes per sound (and an average of 3.58), only one of is correct given the starting note. Because of this, it seems that isomorphic keyboards would be 3.58 times better at playing by ear. Yet this is not the case.

Once the pianist knows the starting note on the TK, the number of possible shapes are pruned. The shapes for a given sound are either white key to white key, white to black, black to black, or black to white. Given the starting note, the pianist should be able identify the color of the starting note by the feel. This usually halves the number of possible shapes. For instance, if I know start on a white key, I can rule out the black to white and black to black shapes. This leaves only white to black and white to white shapes as possible options.

There are 23 different ways to play the 12 different intervals starting on white keys ( 7 / 12 of the keys are white). There are 20 ways to play the 12 intervals starting on black keys (5 / 12 keys are black). We can determine that when given the shape of the starting key, there is an average of 1.8125 possible shapes that can play each interval (and a median of 2).

Because pianists on the TK can determine the color of the starting note, the LIK should only improve at playing by ear 1.8125 times faster than the TK.

### Sight reading

To predict how the LIK will perform at sight reading, first we have to understand the process of sight reading. Unfortunately, it does not fit neatly into our function of a keyboard.

When sight reading, the first two things I do are identify the key signature and the starting note. To calculate the shape I need to play the notes, I don’t identify the note by name and find it on the keyboard. Instead I do this:

1.  Identify the rough interval between the current note and the next. This means determine whether it is a 2nd or 3rd (not whether it is a minor or major 3rd).
2.  Find the white note that corresponds to the rough interval.
3.  If there is an accidental, alter the note accordingly. Otherwise consider the key signature and alter the note.

This is the easiest method for me to sight read on the TK because the notation of lines and spaces makes it easy to identify rough intervals. Also it is easy to find the white keys without looking at the keyboard.

This process will be challenging for the LIK, because you can’t find the white keys by feel. You can still determine the color by sight, but it is difficult to look at the keyboard while sight reading.

The current notation imitates the TK in its obfuscation of patterns. If you move from a line to the adjacent space, five out of seven times it is a whole step, and two of the times it is half step. This same pattern occurs when moving between adjacent white keys. The only way to determine the true interval from muscal notation is to take into consideration the key signature and accidentals. For the LIK to sight read as well as the TK, it would need to use music notation that clarifies the true intervals. A good example of this is [Dodeka's](https://www.dodekamusic.com/how-to-learn-music-faster/) music notation. 

If there was a small advantage for sight reading on the LIK, it would be easier chunking. As someone improves at sight reading, they get better at identifying chunks of notes as musical patterns. Then they don't have to read every detail, but instead play the musical pattern. On the either keyboard, if you identify a familiar chord progression  then you can chunk it and free up some mental bandwidth. Because you don't need to transpose on the LIK, it should be easier to chunk familiar content. For instance, if you recognize a chord progression, it doesn't matter what keys you have played it in before. But this advantage is seems to be an intrusion of the isomorphic advantage for fundamentals. The advantage lies in the familiarity of shapes rather than the ability to calculate shapes from written music.

Despite this small advantage, I think that the LIK will be worse than the TK at sight reading because of the traditional musical notation. 

## Conclusion

I predict that the LIK will improve at 3.58 times the rate of the TK on chromatic patterns and exercises played in every key. All other fundamentals will improve at 2.33 times the rate (although the latter may take a while to actualize). I predict that the LIK will perform worse than the TK at sight reading as it will be reading traditional sheet music. Finally, I predict that the LIK will perform at 1.8125 times the rate of the TK at playing by ear.

### Notes from 3/24/2019

I originally wrote this article on October 17th, 2018, but since then I have revised the article to the point that it has been practically rewritten. I have decided to change my hypotheses while keeping the spirit of the original article. I did not including discoveries that I have made from practicing the keyboards since. Instead, I rewrote the hypotheses with a revisited understanding of what I knew at the time.

 For transparency, I’m leaving the original article on the site, so you can read it [here](/articles/the-hypotheses-old).

[^1]: [<ins>“Isomorphism applied to musical instruments means that every distinct musical performance is executed in the same way, regardless of key or location.”</ins>](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.599.5813)

[^2]: There seem to be competing definitions of isomorphism, and according to some the LIK isn’t truly isomorphic. [<ins>This article</ins>](https://www.mitpressjournals.org/doi/pdf/10.1162/comj.2007.31.4.15) asserts that isomorphic keyboards must be tuning invariant, which the LIK is not (as the LIK is only isomorphic for equal tone temperaments). 

[^3]: Shape, when applied to keyboards, describes the organization of the physical layout of the keys. Fingering is similar but different, as it describes how and with what fingers this shape is played. In this example, the shape of the notes is the same, the first five notes of the major scale. The typical fingering is to play this with all five fingers 1-2-3-4-5.


    <div>
    <img src="/images/fingerings/first-fingering.svg" style="width: 50%; margin: 0 0 2rem;" />
    </div>

    But if you wanted to complete the major scale, you would finger the same shape as 1-2-3-1-2, so that you could finish the scale with 3-4-5.

    <div>
    <img src="/images/fingerings/second-fingering.svg" style="margin: 0 0 2rem;"/>
    </div>


    The shape is the same, but the fingering is different.

[^4]: If a shape plays more than one sound then piano either has different ways of altering notes (like a pitch bending wheel), or there is randomness, meaning you can perform the same shape twice and it would sound different each time.

<% end %>

<script src="/javascripts/pages/the-hypotheses.js"></script>
<script src="/javascripts/blocks/improvement-chart.js"></script>