<%= partial "partials/chartist-js" %>
<script src="https://unpkg.com/tippy.js@2/dist/tippy.all.min.js"></script>

<% partial "/partials/article-layout" do %>

# The Hypotheses

I think that the Linear Isomorphic Keyboard (LIK) will outperform the traditional keyboard (TK). More specifically, I think that I will improve faster on the LIK than on the TK and I don't foresee the LIK having significant technical limitations in comparison to the TK.

The reasoning behind these hypotheses is based on another hypothesis: I believe that isomorphic keyboards have an advantage over non-isomorphic keyboards in regards to playability.

## The advantage of isomorphism

When applied to the keyboard, "Isomorphism applied to musical instruments means that every distinct musical performance is executed in the same way, regardless of key or location."[^1][^2] To put this another way, each sound can be performed by one or many shapes,[^3] but these shapes are always correct. This also means that each shape only plays one sound.[^4] The LIK actually has a one to one relationship of shapes and sounds, but I don't think that this provides much of an advantage over other isomorphic keyboards.[^5]

The isomorphic advantage is rather amorphous. In order to understand how this advantage manifests, it helps to conceptualize the keyboard as a function.

You can imagine a keyboard as a function that takes two variables---the shape and the location (or the starting note)---and it returns a sound.

**f(shape, location) =\> sound**

What isomorphic keyboards do is remove the variable of location; the note you start on will never determine the shape to make to play a certain sound.

**f(shape) =\> sound**

With this framework in mind, I'm going to hypothesize how the isomorphic advantage applies to each of the domains of musical prowess, fundamentals, sight reading, and playing by ear.

## Fundamentals

This removal of the location from the equation benefits isomorphic keyboards in a few ways, the most obvious of which is transposition.

### Ease of transposition

Transposition is the act of taking a musical pattern and changing the starting note, then recalculating the shape. The isomorphic advantage shines under this light. As anything learned on the LIK can be applied to any starting note, there is no recalculation necessary.

This has a clear impact on the LIK's performance of fundamentals. Anything that has to be learned in every key becomes far more simple. Instead of learning the major scale in all twelve keys, you learn the major scale once.

At first glance, it appears that the LIK has 1/12th the amount of shapes to learn compared to TK, as most complex musical patterns (such as scales) have twelve different shapes on the TK, but this is not quite the case. G major and C major are not so different from each other, as they share six out of seven notes. To find the true difference in complexity we can turn towards to the building blocks of musical patterns: intervals.

Below is a graph of all of the twelve intervals within an octave, and all of the shapes that perform these intervals on each keyboard.

<% end %>

<%= partial "partials/mobile-interval-shapes-section" %>
<%= partial "partials/interval-shapes-section" %>


<% partial "/partials/article-layout" do %>

The graphs above illustrate the complexities of the TK that stem from the many-to-many relationship of shapes and sounds. On the TK, each interval can be performed by an average of 3.58 different shapes (43 relationships between sounds and shapes / 12 sounds). Each interval on the TK has a median of four different ways to perform it, only one of which is correct on any given starting note.

The LIK on the other hand only has one shape per sound. Thus it only has 28% (12/43)the number of relationships between sounds and shapes as the TK. My hypothesis is that when practicing exercises that are chromatic patterns or are meant to be played in every key, the LIK will improve at 3.58 times the speed of the TK.

### When the shape is known

Though the graphs above clearly show the complexity of the relationship between sounds and shapes, perhaps what is more immediately noticeable is the number of shapes for each keyboard. The LIK has 12 shapes to play all 12 intervals in an octave, while the TK has 28. This means that there are 2.33 (7/3) times the amount of shapes to learn on the TK as there are on the LIK.

This poses and interesting question, if I stated earlier that the LIK was 3.58 times simpler than the TK, but the LIK has 2.33 times fewer shapes than the TK, then which one is the true advantage? What rate of improvement should I expect from the LIK?

I believe that these differences of complexity and quantity will impact the speed of improvement at different times. The function of the keyboard fails to measure the difficulty of playing the keyboard when all sides of the equation are already known. When practicing familiar content energy isn't spent determining which notes to play, but practicing playing those notes correctly.

I am going to posit yet another hypothesis, albeit one that (I think) is more widely accepted. We improve at performing instruments (and many other things) by learning patterns, and once those patterns are learned, anything with similar patterns becomes familiar, and is thus easier to perform. To apply this to the keyboard, I would hypothesize that as we practice we learn to perform shapes, and new pieces become easier as we expand our repertoire of familiar shapes.

As there are 2.33 times more shapes on the TK than the LIK, I predict that the TK will take 2.33 times as long to learn as the LIK.

<% end %>

<div class="improvement-chart ct-chart ct-chart--full breakout">
</div>

<% partial "/partials/article-layout" do %>

The chart above illustrates the speed of improvement between the keyboards. In this radically simplified simulation, the LIK has 300 shapes and the TK has 700 shapes, and each practice session practices 15 randomly selected shapes. Once a shape is practiced it is considered a known shape. This graph shows how many practice sessions it takes to learn 90% of the shapes on the LIK, and the percent known of each exercise along the way.

You might notice that the advantage of having less content could take a while to actualize. In the early practice sessions, the percentage of known content is similar between keyboards. Only after a considerable amount of practice does the LIK start to consistently have a higher % known in each practice session. If this isn't shown in the chart above then refresh the page, new data is generated on each page load.

It will not be easier to play a given passage on the LIK than on the TK, but instead it will be more likely that you find a passage familiar, as it is more likely that you have practiced the shapes that compose the passage.

I predict that while chromatic exercises (or exercises played in every key) will improve at 3.58 times the speed of the TK, all other fundamentals will improve at 2.33 times the rate, which will only be apparent after considerable practice.

## Playing by Ear

When playing by ear, the pianist is reverse engineering the function of the piano. The pianist is given the sound and has to determine the shape (and sometimes the starting note too).

On the LIK there is only one possible shape for every sound, while on the TK there is a median of four shapes, only one of which play the desired sound. In this situation, when the pianist has a known shape and an unknown sound, it seems as if isomorphic keyboards would enjoy the same advantage of 3.58 times the simplicity of the traditional keyboard. However, this is not quite the case.

Once the pianist knows the starting note on the TK, the number of possible shapes are pruned. The shapes for a given sound are either white key to white key, white to black, black to black, or black to white. Given the starting note, the pianist should be able identify the color of the starting note by the feel, which usually halves the number of possible shapes. For instance, if I know start on a white key, I can rule out the black to white and black to black shapes, leaving only white to black and white to white as the options for a given interval.

There are 23 different ways to play the 12 different intervals starting on a white key ( 7 / 12 of the keys are white), and 20 ways to play the 12 intervals starting on a black key (5 / 12 keys are black). With a little math we can determine that when given the shape of the starting key, the there is an average of 1.8125 shapes to play a sound (and a median of 2).

Thus, due to the fact that the pianists on the TK can determine the color of the starting note, pianists on the LIK should only improve at playing by ear 1.8125 times faster than the TK.

## Sight reading

To predict how the LIK will perform at sight reading, first you have to understand the process (or at least my process) of sight reading, which does not fit neatly into the function of a keyboard.

When sight reading, the first two things I do are identify the key signature and the starting note. To calculate the shape I need to play the notes, I don't identify the note by name and find it on the keyboard. Instead I do this:

1.  Identify the rough interval between the current note and the next. This means determine whether it is a 2nd or 3rd (not whether it is a minor or major 3rd).

2.  Find the white note that corresponds to the rough interval.

3.  If there is an accidental, alter the note accordingly. Else, consider the key signature and alter the note accordingly.

This is the easiest method for me to sight read on the TK because it is easy to identify rough intervals thanks to the notation of lines and spaces. Also it is easy to find the white keys without looking at the keyboard.

This process will be challenging for the LIK, because you can't find the white keys by feel, and it is difficult to look at the keyboard while sight reading.

The current notation imitates the TK in its obfuscation of patterns. If you move from a line to the adjacent space, five out of seven times it is a whole step, and two of the times it is half step (the same as moving from a white key to an adjacent white key), and the only way to determine the true interval is to take into consideration the key signature and accidentals. For the LIK to sight read as well as the TK, it would need to use music notation that clarifies the true intervals, like [Dodeka's](https://www.dodekamusic.com/how-to-learn-music-faster/).

If there was a small advantage for sight reading on the LIK, it would be easier chunking. As someone improves at sight reading, they get better at identifying chunks of notes as certain musical patterns and then playing that musical pattern rather reading through each note. On the either keyboard, if you identify a chord progression as one that you have played before then you can chunk that and pay more attention to whatever else is going on. It should to play chunked material on the LIK because you only need to learn it one key, so there would be a higher chance that you could play a given chunk. However, this advantage is seems to be an intrusion of the isomorphic advantage on fundamentals, as is due to familiarity of shapes more so than the ability to calculate shapes from written music.

Despite this small advantage, I think that the LIK will be worse than the TK at sight reading because of the traditional musical notation that I will be sight reading.

## Conclusion

I predict that the LIK will improve at 3.58 times the rate of the TK on chromatic patterns and exercises played in every key, and at 2.33 times the rate on all other fundamentals (although the latter will take a while to actualize). I predict that the LIK will perform worse than the TK at sight reading as it will be reading traditional sheet music, which does not elucidate the true interval. Finally, I predict that the LIK will perform at 1.8125 times the rate of the TK at playing by ear.

##### NOTES FROM 3/24/2019

I originally wrote this article on October 17th, 2018, but since then I have heavily revised the article to the point that it has been practically rewritten. Given more time and thought, my hypotheses have changed. I have decided to change my hypotheses while keeping the spirit of the original article. I am not including discoveries that I have had from practicing the keyboards such as the use of solfege in LIK sight reading, or the prevalence of relative tonal identification in playing by ear, but rather I am rewriting the hypotheses with a revisited understanding of what I knew at the time.

In the previous iteration, I predicted that the LIK would outperform the TK on fundamentals, slightly outperform at sight reading, and greatly outperform at playing by ear. For transparency, I'm leaving the original article on the site, so you can read it [here](/articles/the-hypotheses-old).

[^1]: ["Isomorphism applied to musical instruments means that every distinct musical performance is executed in the same way, regardless of key or location."](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.599.5813)

[^2]: There seem to be competing definitions of isomorphism, and according to some the LIK isn't truly isomorphic. [This article](https://www.mitpressjournals.org/doi/pdf/10.1162/comj.2007.31.4.15) asserts that isomorphic keyboards must be tuning invariant, which the LIK is not (the LIK is only isomorphic for equal tone temperaments).

[^3]: Shape, when applied to keyboards, describes the organization of the physical layout of the keys. Fingering is similar but different, as it describes how and with what fingers this shape is played. In this example, the shape of the notes is the same, the first five notes of the major scale. The typical fingering is to play this with all five fingers 1-2-3-4-5.


    <div>
    <img src="/images/fingerings/first-fingering.svg" style="width: 50%; margin: 0 0 2rem;" />
    </div>

    But if you wanted to complete the major scale, you would finger the same shape as 1-2-3-1-2, so that you could finish the scale with 3-4-5.

    <div>
    <img src="/images/fingerings/second-fingering.svg" style="margin: 0 0 2rem;"/>
    </div>

    The shape is the same, but the fingering is different.

[^4]: If a shape plays more than one sound then piano either has different ways of altering notes (like a pitch bending wheel), or there is randomness, meaning you can perform the same shape twice and it would sound different each time.

[^5]: Having multiple shapes to play any given sound (given that they are all correct), seems like it would add flexibility rather than complexity.

[^6]: There is one more thing to consider. Given the starting note, some of the shapes that I say are options to perform don't exist. Consider the shape of starting on a black key, and reaching far enough to skip over one black key to play the next. If you start on F\#, you will land on A\#, and if you start on A\# you will land on C\# (even though the B\# black note that is skipped over doesn't exist). If you try to play this starting at C\#, you will find that the note should be between E and F, but it doesn't exist. This is due to the irregular pattern of black keys. Because of this, for each starting note, two of the fourteen shapes do not exist. I'm not sure whether or not I should include this as reducing complexity.

<% end %>

<script src="/javascripts/pages/the-hypotheses.js"></script>
<script src="/javascripts/blocks/improvement-chart.js"></script>