.article-show {
  font-family: Ivar Text;
  font-size: 21px;
  font-weight: 300;

  h1 {
    font-family: Graphit;
    font-weight: 700;
    font-size: 64px;
    // Escape the grid on the right side
    margin-right: calc(-50vw + 50%);
    margin-bottom: 4rem;
  }
  h2, h3, h4, h5, h6 {
    font-family: Ivar Display;
    font-weight: 600;
  }
  h2 {
    font-size: 48px;
    margin: 4rem 0 2rem;
  }
  h3 {
    font-size: 32px;
    margin: 2.5rem 0 1rem;
  }
  // h4 {
  //   font-size: 28px;
  // }
  // h5 {
  //   font-size: 24px;
  // }

  a {
    white-space: pre-wrap; /* css-3 */    
    word-wrap: break-word;
    text-decoration: underline;
  }

  img {
    margin: 4rem 0;
  }

  p {
    margin: 1rem 0;
    line-height: 1.7;
  }

  ul {
    margin: 4rem 0;
  }

  strong {
    font-weight: 600;
  }

  ul.ct-legend {
    margin: 0;
  }

  .footnotes {
    margin-top: 8rem;
    font-size: 16px;
  }

  // Escaping the layout
  .breakout {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  // .reflection-chart {
  //   height: 20rem;
  //   margin: 4rem 0 8rem;
  // }

  .image-container {
    display: flex;
    justify-content: center;
  }
}

