.article-body a {
  white-space: pre-wrap; /* css-3 */    
  word-wrap: break-word;
}

.article-body p {
  margin: 1rem 0;
}
.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4 {
  margin: 3rem 0 2rem;
  @media screen and (max-width: 640px) {
    font-weight: 600;
  }
}

.article-body a {
  text-decoration: underline;
}

.article-show {
  font-family: Ivar Text;
  font-size: 21px;
  font-weight: 300;

  h1, h2, h3, h4, h5, h6 {
    font-family: Graphit;
    font-weight: 500;
    margin: 4rem 0 2rem;
  }
  h1 {
    font-size: 64px;
    font-weight: 700;
    // Escape the grid on the right side
    margin-right: calc(-50vw + 50%);
    margin: 4rem 0 4rem;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }

  ol:last-of-type {
    margin-top: 8rem;
    font-size: 16px;
  }

  img {
    margin: 4rem 0;
  }

  p {
    margin: 2rem 0;
  }


  // Escaping the layout
  .breakout {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}

