.practice-session__show {
  font-family: Graphit;

  .practice-session__header {
    margin: 0;
  }
  .practice-session__name {
    display: inline-block;
    margin: 0;
  }
  .practice-session__date {
    display: inline-block;
    color: $color-gray;
  }
  .practice-session__notes {
    margin: 0 2rem;
  }

  .domains {
    margin-top: 2rem;
  }
  .domain {
    margin: 2rem 0 3rem;
  }
  .domain-header, 
  .total-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .domain-header__time,
  .total-header__time {
    color: $color-gray;
  }
  .domain-header__divider {
    flex-grow: 1;
    border-top: 3px solid $color-gray;
    border-bottom: 3px solid $color-gray;
    height: 0;
    margin: 0 1.5rem 0;
  }

  .exercise-set {
    margin: 1rem 0;
  }
  .exercise-set__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .exercise-set__time {
    color: $color-gray;
  }
  .exercise-set__divider {
    flex-grow: 1;
    border-top: 1.5px solid $color-gray;
    border-bottom: 1.5px solid $color-gray;
    height: 0;
    margin:  0 1.5rem 0;
  }

  .exercise-set__data {
    display: flex;
    justify-content: space-between;
  }
  .exercise-set__increment {
    margin: 0.3rem;
  }
  .exercise-set__increments-summary {
    max-width: 10rem;
    text-align: right;
    color: $color-gray;
    margin: 0.3rem 0;
  }


  .total {
    margin: 4rem 0 3rem;
  }
  .total-increments {
    margin: 1rem 0 1rem 40px;
  }

}