.practice-sessions_index {
  font-family: $graphit;

  ul {
    padding-inline-start: 0;
  }

  .keyboard-header {
    text-align: center;
  }

  .practice-sessions {
    margin-top: 0;
  }

  .practice-session {
    display: flex;
    border-bottom: solid 3px #D3D3D3;
    margin: 4rem 0;
    text-decoration: none;
    line-height: 1;
    font-family: $graphit;
    font-weight: 400;
  }

  .practice-session:hover {
    color: inherit;
  }

  .practice-session__data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 1rem;
  }

  // graphit-xxl-regular: ;
  .practice-session__number {
    font-size: calc(3.5vw * 2.22);
    @media screen and (min-width: 576px) {
      font-size: 4.5rem;
    }
  }

  // graphit-lg-regular
  .practice-session__date {
    font-size: calc(1.9vw * 2.22);
    @media screen and (min-width: 576px) {
      font-size: 2rem;
    }
  }

  // graphit-xs-regular
  .practice-session__details {
    font-size: calc(0.9vw * 2.22);
    @media screen and (min-width: 576px) {
      font-size: 1rem;
    }
  }

  .section__content {
    margin-top: 6rem;
  }

  .recordings__text {
    font-family: $ivar-soft;
    font-weight: 400;
    margin: 1rem;
  }
}