.practice-sessions_index {
  font-family: Graphit;

  ul {
    padding-inline-start: 0;
  }

  .keyboard-header {
    text-align: center;
  }

  .practice-session {
    display: flex;
    border-bottom: solid 3px #D3D3D3;
    margin: 4rem 0;
    text-decoration: none;
    line-height: 1;
  }

  .practice-session:hover {
    color: inherit;
  }

  .practice-session__data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 1rem;
  }

  .practice-session__date {}

  .practice-session__details {}

  .section__content {
    margin-top: 6rem;
  }

  .recordings__text {
    font-family: Ivar Soft;
    font-weight: 400;
    margin: 1rem;
  }
}