.progress_index {
  .progress__description {
    font-family: Ivar Soft;
    margin: 1rem 0;
  }

  .chart-section__header {
    text-align: center;
  }

  .exercise-header {
    display: block;
    text-align: center;
  }
}