.practice-session__show {
  font-family: Graphit;

  .practice-session__header {
    font-size: 75px;
    display: inline-block;
  }

  .practice-session__header-date {
    display: inline-block;
    font-size: 75px;
    color: #838383;
  }

  .practice-session__notes {
    font-family: Ivar Soft;
    font-weight: 400;
    font-size: 21px;
    margin: 0 2rem;
  }

}