.hero {
  width: 100%;
  background-color: #848484;
  position: relative;
  // z-index: 5;
}
.hero__space {
  height: 8rem;
}
.hero__image {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin: 0 8rem;
}
// .hero__image--inner {
//   display: inline-block;
//   position: relative;
//   right: -50%;
// }
// .hero__image {
//   position: relative;
//   left: -50%;
// }
.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-top: 2rem;
  color: #fff;
}

.main-description {
  font-size: 2rem;
  text-align: center;
}

.section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section--top {
  margin-top: 8rem;
}

.hr-top {
  margin-top: 0;
}

.hr-bottom {
  margin-bottom: 0;
}

.article {
  margin: 1.5rem 0;
}

.article-content {
  font-size: 16px;
}

// progress is used in foundation
.keyboard-progress {
  margin: 3rem 0;
  height: 100%;
}

.section__footer {
  text-align: right;
}

.footer {
  width: 100%;
  height: 10rem;
  background-color: #848484;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__contact {  
  color: #fff;
}