body {
  // background-color: #929292;
  background-color: #fff;
  // color: #333;
  // font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  //   "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  //   "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  //   "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  // padding: 18vh 1rem;
  // text-align: center;
}

.intervals-shapes-graph {
  width: 99vw;
  height: 400px;
  margin: auto;
  // border: solid black 1px;
}
.nodes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}
.label {
  display:block;
}
.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: white;
}
.interval .node__visual {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  /*display: inline-block;*/
}
.shapes svg {
  position: relative;
  z-index: 2;
}
.node svg {
  height: 25px;
  width: 25px;
}