// @import "settings.scss";
@import "foundation.css";

@import "index.css.scss";
@import "the-hypotheses.css.scss";

// body {
//   // background-color: #929292;
//   background-color: #fff;
//   // color: #333;
//   // font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
//   //   "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
//   //   "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
//   //   "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
//   // padding: 18vh 1rem;
//   // text-align: center;
// }

body {
  font-family: 'Libre Baskerville', serif;

  // margin-top: 4rem;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // background-color: rgb(0, 0, 0);
}

.navbar__logo {
  display: inline-block;
  height: 3rem;
  width: 6rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  // font-size: 1.25rem;
  height: 3rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  color: #000;
}

a:hover {
  color: #333
}

.navbar__link {
  margin-left: 2.5rem;
  color: #000;
}

.navbar__link:hover {
  color: #333;
}

.recording-link {
  text-decoration: underline;
}

