<% wrap_layout :layout do %>
  <section class="container section article-show">
    <div class="row">
      <div class="col col-lg-8 offset-lg-1" markdown="1">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>