<!-- No indents so that the markdown parser does not mistake real code
for indented code. -->

<section class="container section">
<div class="row">
<div class="col col-lg-8 offset-lg-1" markdown="1">
<%= yield %>
</div>
</div>
</section>