<a href="<%= link %>" class="article row justify-content-center">
  <h4 class="col-sm-12 article__title"><%= title %></h4>
  <div class="col-sm-12 col-md-10">
    <p class="ivar-soft-sm-regular ">
      <%= description %>
    </p>
  </div>
</a>