<footer class="container graphit-xs-regular">
  <div>
    The <span class="emphasis">Linear Isomorphic Keyboard</span> by <a href="markjanzer.io">Mark Janzer</a>
  </div>
  <div class="footer-date"></div>
</footer>

<script>
  var currentDate = new Date;
  $(".footer-date")[0].innerHTML = currentDate.getFullYear();
</script>