<div class="container section section--top">
  <div><h1>Practice Sessions</h1></div>
  <div class="row">
    <div class="col">
      <ul>
        <% data.practice_sessions.sort { |ps1, ps2| ps2.date <=> ps1.date }.each do |practice_session| %>
          <li class="article">
            <div><h3><a href="/practice-sessions/<%= practice_session.id %>"><%= practice_session.name %></a></h3></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
