
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<div class="grid-container">
  <div class="section--top">
    <div class="grid-x grid-padding-x">
      <div class="cell large-12"><h1>Progress</h1></div>
    </div>

    <div class="grid-x grid-padding-x keyboard-progress">
      <div class="cell large-2"></div>
      <div class="cell large-8 ct-chart ct-octave">
      </div>
      <div class="cell large-2"></div>
    </div>
  </div>
</div>

<script>
  var data = <%= progress_data.to_json %>
  data.plugins = [
    Chartist.plugins.legend({
      legendNames: ['TK', 'LIK'],
    })
  ];
  new Chartist.Line('.ct-chart', data);
</script>