
<div class="animate-container">
  <div class="octave">
    <div class="white-key C"></div>
    <div class="black-key C#"></div>
    <div class="white-key D"></div>
    <div class="black-key D#"></div>
    <div class="white-key E"></div>
    <div class="white-key F"></div>
    <div class="black-key F#"></div>
    <div class="white-key G"></div>
    <div class="black-key G#"></div>
    <div class="white-key A"></div>
    <div class="black-key A#"></div>
    <div class="white-key B"></div>
  

    <div class="overlay">
      <div class="white-chonk white-chonk--skinny"></div>
      <div class="white-chonk white-chonk--skinny"></div>
      <div class="white-chonk white-chonk--skinny"></div>
      <div class="white-chonk white-chonk--thicc"></div>
      <div class="white-chonk white-chonk--thicc"></div>
      <div class="white-chonk white-chonk--thicc"></div>
      <div class="white-chonk white-chonk--thicc"></div>
    </div>

    <!-- I think the way that this works is  -->
  </div>

</div>


<script src="/javascripts/blocks/transform-keyboard.js"></script>
