---
title: The Linear Isomorphic Keybaord
---

<!-- We should include this locally -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-axistitle.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-accessibility.min.js"></script>
<script src="/javascripts/vendor/chartist-plugin-legend.js"></script>


<div class="hero">
  <div class="hero__image">
    <%= image_tag "LIK-solo.png" %>
  </div>
  <h1 class="hero__text">The Linear Isomorphic Keyboard</h1>
</div>

<div class="container section">
  <div class="row justify-content-center">
    <div class="col-8 main-description">Is there a better way to design the keyboard?
      <br/>
      <br/>
      This is an experiment to determine if the <strong>Linear Isomorphic Keyboard</strong> is the answer.
    </div>
  </div>
</div>
  
  <section class="container">
    <hr class="hr-top"/><hr class="hr-bottom"/>
  </section>

  <div class="container section">
    <div class="row">
      <div class="col col-md-8">
        <div>
          <h2>Two keyboards</h2>
        </div>
        <div>
          <img src="/images/mini-lik.svg" class="summary__keyboard" />
          <img src="/images/mini-tk.svg" class="summary__keyboard" />
        </div>
      </div>
    </div>
    <div class="row justify-content-end summary-section">
      <div class="col col-md-8">
        <div>
          <h2>Recorded practicing the same content  for the same amount of time</h2>
        </div>
        <div class="summary-icons" style="margin-top: 0">
          <img src="/images/microphone.svg" class="summary__icon" />
          <img src="/images/sheet-music.svg" class="summary__icon" />
          <img src="/images/stopwatch.svg" class="summary__icon"/>
        </div>
      </div>
    </div>
    <div class="row summary-section">
      <div class="col col-md-8">
        <div>
          <h2>Results are graphed, analyzed, and reflected upon.</h2>
        </div>
        <div class="summary-icons"> 
          <img src="/images/bar-chart.svg" class="summary__icon"/>
          <img src="/images/contract.svg" class="summary__icon"/>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <hr class="hr-top"/><hr class="hr-bottom"/>
  </section>

  <div class="container section">
    <div>
      <h1>Articles</h1>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <ul>
          <li class="article">
            <div><h3><a href="/articles/the-idea">The Idea</a></h3></div>
            <div class="article-content">There may be a better way to design the piano. It is known that to master an instrument you must learn to play it in every key. The first key a new pianist will learn to play is the key of C major. It is wonderfully simple: just play the white notes. But...</div>
          </li>
          <li class="article">
            <div><h3><a href="/articles/the-hypotheses">The Hypotheses</a></h3></div>
            <div class="article-content">I think that the linear isomorphic keyboard (LIK) will outperform the traditional keyboard (TK). I predict that I will improve faster on the LIK than on the traditional keyboard and that the LIK will not have significant technical limitations...</div>
          </li>
          <li class="article">
            <div><h3><a href="/articles/the-experiment">The Experiment</a></h3></div>
            <div class="article-content">I am conducting an experiment to determine whether or not the Linear Isomorphic Keyboard is easier to play than the traditional piano keyboard. In order to compare the Linear Isomorphic Keyboard (LIK) and the traditional keyboard (TK)... </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section__footer">
      <a href="/articles">More Articles...</a>
    </div>
  </div>

  <section class="container">
    <hr class="hr-top"/><hr class="hr-bottom"/>
  </section>

  <div class="container section">
    <div><h1>Progress</h1></div>

    <div class="row justify-content-center progress">
      <div class="col col-sm-8">
        <div class="ct-chart chart--medium"></div>
      </div>
    </div>

    <div class="section__footer">
      <a href="/progress">More Progress Coming Soon</a>
    </div>
  </div>
</div>

<footer class="footer">
  <div>
    <h4 class="footer__contact">Contact: linearisomorphickeyboard@gmail.com</h4>
  </div>
  <div class="footer__credits">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>

<script>
  var data = <%= progress_data.to_json %>
  options = {
    axisY: {
      onlyInteger: true
    },
    plugins: [
      Chartist.plugins.ctAxisTitle({
        axisX: {
          axisTitle: "Practice Sessions",
          offset: {
            x: 0,
            y: 30
          },
        },
        axisY: {
          axisTitle: "Completed Increments",
        }
      }),
      Chartist.plugins.ctAccessibility({
        caption: "Increments completed by each keyboard",
        seriesHeader: 'Keyboard',
        summary: 'A graphic that shows the rate of improvement for the LIK and the TK',
        valueTransform: function(value) {
          return value + ' completed increments';
        },
        // Use this if you want to make accessibility table visible
        // visuallyHiddenStyles: 'position: absolute; top: 100%; width: 100%; font-size: 11px; overflow-x: auto; background-color: rgba(0, 0, 0, 0.1); padding: 10px'
      }),
      Chartist.plugins.legend({
        legendNames: ["TK", "LIK"],
      }),
    ]
  }
  new Chartist.Line('.ct-chart', data, options);
</script>

<script>
  var heroHeight = $(".hero")[0].offsetHeight;
  function setNavOpacity() {
    if (window.pageYOffset > heroHeight) {
      $(".navbar")[0].classList.add("navbar--translucent");
    } else {
      $(".navbar")[0].classList.remove("navbar--translucent");
    }
  }
  setNavOpacity();
  window.addEventListener('scroll', setNavOpacity);
</script>