footer {
  margin-top: 14rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 0;
  font-family: Graphit;
  font-weight: 100;
  font-size: 1rem;
}