footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 6rem;
  @media screen and (min-width: 576px) {
    margin-top: 14rem;
  }

  .emphasis {
    font-weight: 600;
  }
}

footer.container {
  padding: 1rem 0;
  @media screen and (min-width: 576px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}