.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  font-size: 1rem;
  align-items: center;
}

.navbar--translucent {
  &::after {
    background: rgba(white,.6);
    position: absolute;
    display: block;
    content: '';
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 4;
  }
}

.navbar__logo {
  display: inline-block;
  height: 3rem;
  width: 6rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  // margin-right: 1rem;
  // font-size: 1.25rem;
  height: 3rem;
  line-height: inherit;
  white-space: nowrap;
  z-index: 6;
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  z-index: 6;
  font-family: "Mikro";
}

.navbar a {
  text-decoration: none;
}

.navbar__link {
  margin-left: 0.6rem;
  font-size: 0.8rem;
  @media screen and (min-width: 641px) {
    margin-left: 2.5rem;
    font-size: 1rem;
  }
  color: #000;
}

.navbar__link:hover {
  color: #333;
}
